<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>在线测试系统 | 编辑商品</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="shortcut icon" href="/images/java.png"/>
</head>
<body>
<div align="center" style="background-color: #F599BE">
    <div style="color: black;font-size: 30px;align-content: center">编辑商品</div>
    <br/>
    <form class="form-horizontal">
        <input id="id" type="hidden" value="$!{goodsVo.id}">


        <div class="control-group">
            <label class="control-label" style="color: black;font-size: 15px;" for="title">名称</label>
            <div class="controls">
                <input id="title" style="width: 40%;height: 40px" type="text" value="$!{goodsVo.name}" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="color: black;font-size: 15px;" for="options">价格</label>
            <div class="controls">
                <input id="options" style="width: 40%;height: 40px" type="text" value="$!{goodsVo.price}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="color: black;font-size: 15px;" for="answers">存货量</label>
            <div class="controls">
                <input id="answers" style="width: 40%;height: 40px" type="text" value="$!{goodsVo.remain}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="color: black;font-size: 15px;" for="difficulty">折扣</label>
            <div class="controls">
                <input id="difficulty" style="width: 40%;height: 40px" type="number" value="$!{goodsVo.discount}" max="10" min="1"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="color: black;font-size: 15px;" for="status">状态</label>
            <div>
                #if("REMOVE_SUPPORT" == $!{goodsVo.status})
                    <select id="status" style="width:95px;" required>
                        <option name="status" value="NORMAL">正常</option>
                        <option name="status" value="REMOVE_SUPPORT" selected>已删除</option>
                    </select>
                #else
                    <select id="status" style="width:95px;" required>
                        <option name="status" value="NORMAL" selected>正常</option>
                        <option name="status" value="REMOVE_SUPPORT">已下架</option>
                    </select>
                #end
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="color: black;font-size: 15px;" for="providerName">供货商</label>
            <div class="controls">
                <input id="providerName" style="width: 40%;height: 40px" type="text" value="$!{goodsVo.providerName}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="color: black;font-size: 15px;" for="providerPhone">供货商电话</label>
            <div class="controls">
                <input id="providerPhone" style="width: 40%;height: 40px" type="text" value="$!{goodsVo.providerPhone}"/>
            </div>
        </div>

        <div>
            <input id="save-btn" type="submit" value="保存"/>
        </div>
    </form>
</div>
<script type="text/javascript" src="/asset/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/asset/jquery/jquery.simplePagination.js"></script>
<script type="text/javascript" src="/asset/layer/layer.js"></script>
<script type="text/javascript" src="/js/edit_goods.js"></script>
</body>
</html>
