<!DOCTYPE HTML>
<html>
<head>
    <title>系统 | 404</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8" homePageUrl="/index" homePageName="回到我的主页"></script>
</head>
<body>
</body>
</html>
