<html>
<head>
    <title>Data Cleaning System</title>
    <style>
        .font-size {
            font-size: 30px;
            border-radius: 5px;
        }
    </style>
##    <script type="text/javascript">
##        function getTime(){
##            var url = location.search;
##            $.ajax({
##                type:"get",
##                async:false,
##                url:url,
##                success:function(result){
##
##                    $("#TotalTime").attr("value",result);
##                }
##            });
##        }
##        </script>
</head>
<body bgcolor="#CFC">
<div style="position: relative;top: 15%" align="center">
    <span style="font-weight:bold;font-size: 25px;position: relative;top: -20px">基于知识库的数据清洗系统</span><br/>

    <div class="file-box">
        <form id="upload" method="post" action="/api/upload" enctype="multipart/form-data">
            <input type="file" name="file" class="file" id="file" size="28"/>
            <input type="submit" name="submit" class="btn" value="上传文件并处理数据"/>
        </form>
    </div>
</div>
<div style="position:absolute;top: 200px;left:530px" align="center">
    <span style="font-weight: bold;font-size: 20px">Data Cleaning Results</span><br/>
</div>
<div style="position:absolute;top:280px;left:270px" align="center">
    <span style="font-weight:bold;font-size:15px">Before</span><br/>
</div>
<div style="position:absolute;top:320px;left:270px" align="center">
    <span style="font-weight:bold;font-size:15px">After</span>
</div>

<div style="position:absolute;top:250px;left:380px" align="center">
    <span style="font-weight:bold;font-size:15px" class="label">Incompleteness</span><br/>
</div>
<div style="position:absolute;top:280px;left:400px" align="center">
    <input type="text" id="IMPBefore" value="" size="10">
    </input>
</div>
<div style="position:absolute;top:320px;left:400px" align="center">
    <input type="text" id="IMPAfter" value="" size="10"/>
</div>
<div style="position:absolute;top:250px;left:570px" align="center">
    <span style="font-weight:bold;font-size:15px" class="label">Inconsistency</span><br/>
</div>
<div style="position:absolute;top:280px;left:590px" align="center">
    <input type="text" id="ICNBefore" value="" size="10">
    </input>
</div>
<div style="position:absolute;top:320px;left:590px" align="center">
    <input type="text" id="ICNAfter" value="" size="10">
    </input>
</div>
<div style="position:absolute;top:250px;left:770px" align="center">
    <span style="font-weight:bold;font-size:15px" class="label">Same Entity</span><br/>
</div>
<div style="position:absolute;top:280px;left:780px" align="center">
    <input type="text" id="SEBefore" value="" size="10">
    </input>
</div>
<div style="position:absolute;top:320px;left:780px" align="center">
    <input type="text" id="SEAfter" value="" size="10">
    </input>
</div>
<div style="position:absolute;top:360px;left:420px" align="center">
    <span style="font-weight:bold;font-size:15px" class="label">Total Size</span>
    <input type="text" id="TotalSize" value="" size="10">
    </input>
    <span style="font-weight:bold;font-size:15px" class="label">Total Time</span>
    <input type="text" id="TotalTime" value="" size="10">
    </input><br/>
</div>
<div style="position:absolute;top:400px;left:780px" align="center">
    <form id="download" action="/download" method="post">
        <input id="tableNameNew" name="tableName" hidden="hidden">
        <input id="rowsNew" name="rows" hidden="hidden">
        <input id="columnsNew" name="columns" hidden="hidden">
        <input id="outPath" name="outPath" hidden="hidden">
        <input type="submit" class="btn" value="下载处理后的文件"/>
    </form>
</div>
</body>
<script type="text/javascript" src="/asset/jquery/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/asset/jquery/jquery.form.js"></script>
<script type="text/javascript" src="/asset/layer/layer.js"></script>
<script type="text/javascript" src="/js/import.js"></script>
</html>
